/**
 * Global
 */
section:not(.splash) h1 {
    font-size: 1.8rem;
}

/**
 * Section: Splash
 */
section#splash {
    background-color: #f2f2f2;
    background-image: url(../../../../../../img/products/oneapi/construction-kit/home/splashbg.jpg);
    color: #000;
}

.dark-mode section#splash {
    background-image: url(../../../../../../img/products/oneapi/construction-kit/home/splashbg-dark.jpg);
    color: var(--whiteColor);
}

section#splash h1 img {
    width: 71px;
}

section#splash .button {
    background-color: #3100ff;
}

section#splash .video {
    position: relative;
}

section#splash .video a {
    position: absolute;
    right: -10px;
    top: 279px;
}

@media screen and (max-width: 1492px) {
    section#splash .video a {
        display: none;
    }
}

section#splash video {
    max-width: 100%;
}

section#splash .button:nth-of-type(2) {
    background: rgba(255, 255, 255, .6);
    border: #4519fe 1px solid;
    border-bottom: #4519fe 2px dashed;
    border-right: #4519fe 2px dashed;
    color: #4418fd;
}

.dark-mode section#splash .button:nth-of-type(2) {
    background: white;
}

/**
 * Section: Repo Details
 */
section#repo-details {
    background-color: #4418fd;
    color: white;
    padding-top: 0;
    padding-bottom: 0;
}

section#repo-details .wrapper {
    display: flex;
    flex-direction: row;
}

section#repo-details .wrapper i,
section#repo-details .wrapper img {
    margin-right: .5rem;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
}

section#repo-details .wrapper img {
    width: 20px;
    height: 20px;
}

section#repo-details .wrapper > div {
    padding: 2rem 0;
    margin-right: 3.5rem;
    opacity: .6;
    transition: .2s all;
    cursor: default;
}

section#repo-details .wrapper:hover > div {
    opacity: .9;
}

section#repo-details .wrapper > div:last-of-type img {
    width: 90px;
    height: auto;
}

@media screen and (min-width: 900px) {
    section#repo-details .wrapper > div:last-of-type {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    section#repo-details .wrapper {
        flex-direction: column;
        justify-content: center;
    }

    section#repo-details .wrapper > div {
        text-align: center;
        padding: 1rem 0;
    }
}

/**
 * Section: Open Ecosystem
 */
section#open-ecosystem {
    background: rgb(49, 0, 255);
    background: linear-gradient(90deg, rgb(4, 0, 221) 0%, rgb(0, 0, 32) 100%);
    color: var(--whiteColor);
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media screen and (min-width: 900px) {
    section#open-ecosystem h1 {
        max-width: 516px;
    }
}

section#open-ecosystem .wrapper {
    box-sizing: border-box;
    position: relative;
}

section#open-ecosystem img.github {
    max-width: 676px;
    left: -40px;
    position: relative;
}

section#open-ecosystem .button {
    margin-top: 1.5rem;
    background: rgb(0,1,255);
    background: linear-gradient(77deg, rgba(0,1,255,1) 0%, rgba(255, 0, 155, 1) 100%);
}

/**
 * Section: Target Audience
 */
section#target-audience {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media screen and (max-width: 1335px) {
    section#target-audience #arm,
    section#target-audience #frame {
        display: none;
    }
}

section#target-audience #arm {
    position: absolute;
    top: 40px;
    right: -100px;
    width: auto;
}

@keyframes scoot {
    from {
        right: -100px
    }
    to {
        right: 400px;
    }
}

section#target-audience .arm-animation {
    animation: scoot 2s ease-in-out;
    animation-fill-mode: forwards;
}

section#target-audience #graphic {
    max-width: 634px;
}

section#target-audience #frame {
    background-image: url(../../../../../../img/products/oneapi/construction-kit/home/frame.png);
    background-repeat: repeat-x;
    height: 54px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

section#target-audience ul {
    list-style: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

section#target-audience ul li {
    padding: .3rem 0;
    cursor: default;
}

section#target-audience ul li i {
    transition: .4s all;
}

section#target-audience ul li:hover i {
    color: green;
}

section#target-audience .reasons {
    position: relative;
    padding-top: 2rem;
}

section#target-audience .reasons img {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    width: auto;
}

@media screen and (max-width: 1180px) {
    section#target-audience .reasons img {
        display: none;
    }
}

section#target-audience i {
    color: var(--hintColor);
    vertical-align: middle;
}

/**
 * Section: Support
 */
section#support .side-by-side-layout {
    min-height: 390px;
}

section#support .side-by-side-layout > div {
    position: relative;
}

@media screen and (min-width: 1480px) {
    section#support img {
        position: absolute;
        width: 767px;
        bottom: -80px;
        left: 0;
    }

    section#support .side-by-side-layout {
        grid-column-gap: 17rem;
    }
}

section#support .button {
    margin-top: 1.5rem;
    background-color: #3100ff !important;
}