section.splash,
section.styled-header,
#legalAcceptDialog > div:nth-of-type(2) > div button[name="agree"],
.hint-color {
    background: #0672d3 !important;
}

html {
    --hintColor: #0672d3;
    --hintBorderColor: var(--hintColor);
    --splashButtonColor: #072643;
}

.button {
    background-color: var(--splashButtonColor);
}

.rounded-icon {
    width: 55px;
    height: 55px;
    font-size: 1.2rem;
    margin-right: .5rem;
    color: var(--whiteColor);
}
