section.splash,
#legalAcceptDialog > div:nth-of-type(2) > div button[name="agree"],
section.styled-header,
.hint-color {
    background-color: #2d04c4 !important;
    background-image: url(../../../../../img/products/oneapi/splashbg.png);
    background-attachment: fixed;
}

html {
    --hintColor: #2d04c4;
    --hintBorderColor: var(--hintColor);
}

.button {
    background-color: #171719;
    margin-right: .5rem;
}

/**
 * Splash
 */
.oneapi-logo-text {
    position: relative;
}

.oneapi-logo-text img {
    display: none;
}

@media screen and (min-width: 1020px) {
    .oneapi-logo-text img {
        display: inline-block;
        position: absolute;
        top: -4rem;
        left: 3.5rem;
    }
}