section.styled-header,
.formatted-content .tag,
.change-cookie-settings {
    background-color: #41a729 !important;
}

.formatted-content h2 {
    border-bottom: var(--borderDefault);
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.formatted-content h3 {
    font-weight: bold;
}

.formatted-content .tag {
    display: inline-block;
    padding: .3rem .5rem;
    border-radius: 6px;
    font-size: .9rem;
    opacity: 1;
    color: var(--whiteColor);
    text-align: center;
}

.formatted-content p a {
    font-weight: bold;
}

.formatted-content .preference {
    background-color: #236e13 !important;
}

.formatted-content .performance {
    background-color: #194b0c !important;
}

.formatted-content tr td:first-of-type {
    font-weight: bold;
}

.formatted-content tr th:nth-of-type(3) {
    width: 30%;
}

.third-party td:nth-of-type(3) {
    width: 50%;
}
