/**
 * Section: Splash
 */
section.splash img {
    max-width: 450px !important;
}

/**
 * Section: Info
 */
section#info {
    background-color: #33313a;
    color: var(--whiteColor);
}

section#info p {
    opacity: .8;
}

section#info a:hover {
    font-weight: bold !important;
}

section#info img {
    max-width: 527px !important;
    height: auto;
}

/**
 * Section: Demo
 */
section#demo {
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: #ceb4cb;
}

.dark-mode section#demo {
    background-color: #281c24;
}

section#demo div.wrapper {
    position: relative;
}

section#demo video {
    max-width: 1267px;
    max-height: 477px;
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
    position: relative;
    bottom: -10px;
}

section#info iframe {
    max-width: 527px;
    min-height: 300px;
    width: 100%;
    height: auto;
}
