/**
 * Splash
 */
section.splash {
    position: relative;
}

section.splash .switch-to {
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #990006 50%, #990006 100%);
}

/**
 * Section: Learn SYCL
 */
section#download-oneapi-sdk {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #19152a;
    position: relative;
    transition: .3s all;
    text-align: center;
    color: var(--whiteColor);
}

section#download-oneapi-sdk:hover {
    filter: brightness(1.1);
}

section#download-oneapi-sdk h1,
section#download-oneapi-sdk p {
    padding: 0;
    margin: 0;
}

section#download-oneapi-sdk .wrapper {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 1rem 0;
}

section#download-oneapi-sdk p {
    opacity: .6;
    margin-top: .5rem;
}

section#download-oneapi-sdk h1 {
    margin-top: 1rem;
}

section#download-oneapi-sdk img {
    max-height: 143px;
    max-width: 400px;
    display: inline-block;
}

@media screen and (min-width: 70.63rem) {
    section#download-oneapi-sdk {
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
    }

    section#download-oneapi-sdk .wrapper {
        flex-direction: row;
    }

    section#download-oneapi-sdk img {
        position: relative;
        bottom: -1rem;
    }

    section#download-oneapi-sdk h1 {
        margin-top: 0;
        font-size: 1.2rem;
    }

    section#download-oneapi-sdk .wrapper > *:nth-of-type(1) {
        width: 400px;
        display: flex;
    }

    section#download-oneapi-sdk .wrapper > *:nth-of-type(2) {
        flex: 1;
        padding-left: 3rem;
        display: flex;
        align-items: center;
    }

    section#download-oneapi-sdk .wrapper > *:nth-of-type(3) {
        width: 320px;
        display: flex;
        align-items: center;
        padding-left: 2rem;
        justify-content: flex-end;
    }
}
