section.splash .switch-to {
    width: 200px;
    height: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 1rem 2rem 0;
    background: linear-gradient(to bottom right, transparent 0%, transparent 50%, #0a0031 50%, #0a0031 100%);
}

section.splash .switch-to {
    display: none;
}

@media screen and (min-width: 1020px) {
    section.splash .switch-to {
        display: flex;
    }

    section.splash .switch-to > div {
        width: 90px;
    }

    section.splash .switch-to * {
        padding: 0;
        margin: 0;
    }

    section.splash .switch-to h1 {
        font-size: 12px;
        opacity: .7;
        font-weight: normal;
    }

    section.splash .switch-to h2 {
        font-size: 14px;
        opacity: 1;
        font-weight: bold;
    }
}


/**
 * Section: Info Panel
 */
section#info h1 {
    font-size: 2rem;
}

section#info img {
    max-width: 663px !important;
}

section#info .button {
    margin-top: 1rem;
}
