/**
 * General
 */
.layout-file > div:nth-of-type(2) > div {
    border-right: var(--borderDefault);
}

/**
 * Menu
 */
.guide-menu > li .icon {
    opacity: .9;
}

/**
 * Namespace, Struct Icons
 */
.type-icon {
    background-color: #111;
    color: var(--whiteColor);
    border-radius: 3px;
    font-size: 10px !important;
    font-weight: bold;
    padding: .3rem;
    opacity: 1 !important;
    margin-right: .5rem;
}

.type-icon.namespace {
    background-color: #0d5ced;
}

.type-icon.class {
    background-color: #622c9f;
}

.type-icon.struct {
    background-color: #00b178;
}


/**
 * Main Styling
 */
.formatted-text pre .line {
    padding: 0;
    margin: 0;
    display: block;
}

.formatted-text pre .ttc {
    display: none;
}

.formatted-text dl dt {
    display: block;
    border-radius: 4px;
    padding: .5rem;
    font-weight: bold;
}

.formatted-text tr.heading {
    background-color: var(--highlightColor);
}

.formatted-text tr h2 {
    font-size: 1rem;
}

.formatted-text .arrow {
    display: none;
}

.formatted-text .levels {
    display: none;
}

.formatted-text .memitem {
    background: var(--whiteColor);
    border: var(--borderDefault);
    background-color: var(--backgroundColor);
}

.formatted-text .memtitle {
    background-color: var(--highlightColor);
    display: inline-block;
    padding: 1rem;
    font-size: .8rem;
    margin-top: 2rem;
}

.dark-mode .formatted-text .memtitle {
    background-color: var(--hintColor);
}

.formatted-text .memtitle .permalink,
.formatted-text .memtitle .overload {
    display: none;
}

.formatted-text .memproto {
    padding: 1rem;
    overflow: auto;
}

.formatted-text .memtemplate {
    font-size: .7rem;
    line-height: normal;
    padding-bottom: 1rem;
}

.formatted-text .memdoc {
    padding: 1rem;
    border-top: var(--borderDefault);
}

.formatted-text .mlabels {
    margin: 0;
}

.formatted-text .mlabels * {
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    font-weight: bold;
}

.formatted-text .mlabels-right {
    text-align: right;
}

.formatted-text span.mlabel {
    background-color: var(--hintColor);
    text-shadow: none;
    color: var(--whiteColor);
    margin-right: 4px;
    padding: .5rem;
    border-radius: 3px;
    font-size: 7pt;
    display: inline-block;
}

.formatted-text .tparams .paramname {
    text-align: right;
}

.formatted-text .separator\: {
    padding: 0;
    height: 0;
    display: none;
}

.formatted-text main table tbody tr:nth-child(even) {
    background-color: inherit;
}

.formatted-text .memitem\:,
.formatted-text .memTemplParams {
    background-color: var(--highlightColor);
}

.dark-mode .formatted-text .memitem\:,
.dark-mode .formatted-text .memTemplParams {
    background-color: var(--borderDefault);
}

.formatted-text .memTemplParams {
    font-weight: bold;
    font-size: .8rem;
}

.formatted-text .groupheader {
    padding: 1rem 0;
}

.formatted-text .dyncontent {
    background: var(--highlightColor);
    padding: 1rem;
    display: inline-block;
    border-radius: var(--borderRadius);
    margin-top: 1rem;
}

.formatted-text pre.highlight code.hljs {
    display: table;
    line-height: 110%;
}