section.styled-header,
section#support button {
    background-color: #43178f !important;
}

section#support h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

section#support a {
    font-weight: bold;
}

section#support textarea {
    min-height: 300px;
}

section#support .discourse {
    max-width: 180px;
    margin-top: 1.5rem;
}

section#support .sent {
    display: none;
    text-align: left;
}

section#support .sent span {
    font-size: 4rem;
}